body {
    font-family: 'Montserrat', sans-serif !important;
}

.navbar.bg-light {
    background-color: #007bff!important;
}

.navbar.bg-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    color: #e2e2e2;
}
