@import './variables.scss';
@import './toaster.scss';

html,
body,
#app,
.main-body,
.login-page {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif !important;
    background: #f9f9f9;
}

.main-body {
    padding-left: 0;
    padding-right: 0;
}

.fa-3 {
    font-size: 4rem;
}

.bg-purple {
    background: $purple;
}

.bg-red {
    background: $red;
}

.bg-green {
    background: $green;
}

.bg-black {
    background: black;
}

.error {
    color: $danger;
    font-weight: 300;
    font-size: 14px;
}

.cursor-pointer {
    cursor: pointer;
}